<div class="panel panel-primary accordianPanel">
  <div class="panel-heading aboutGeneral expand" data-toggle="collapse" data-parent="#accordion" data-target="#accordionOne">General<span class="drowDownIcon"></span></div>
  <div id="accordionOne" class="panel-collapse collapse in">
    <!-- start of .panel-body its new added code not from bootstrap  -->
    <div class="panel-body">
      <div class="fleft">
        <ul class="panel-ul">
          <li><span class="pannel-data">Type</span><span class="pannel-data-info">IPad</span></li>
          <li><span class="pannel-data">Capacity:</span><span class="pannel-data-info">45GB</span></li>
          <li><span class="pannel-data">Software Version:</span><span class="pannel-data-info">7</span></li>
        </ul>
      </div>
      <div class="fright">
        <ul class="panel-ul">
          <li><span class="pannel-data">Serial Number:</span><span class="pannel-data-info">34</span></li>
          <li><span class="pannel-data">User:</span><span class="pannel-data-info">0</span></li>
          <li><span class="pannel-data">Supervised:</span><span class="pannel-data-info">No</span></li>
        </ul>
      </div>
    </div>
    <!-- end of .panel-body its new added code not from bootstrap  -->
  </div>
</div>

