<header>
  <a class="logo" href="javascript:void(0)"></a>
  <div class="top-right-section">
    <ul class="nav-section">
      <li class="search">
        <a href="javascript:void(0)" class="search-anchor"></a>
      </li>
      <li class="user"><%= image_tag("profileimage.png",:class => "user-icon") %></li>
      <li class="userText"><span>Rahul kanihal</span></li>
      <li class="arrowDown">
        <a href="javascript:void(0)" class="arrowDown-anchor"></a>
      </li>
    </ul>
  </div>
</header>